.menu-items {
  float: left;
  width: 30%;
}

.tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tab {
  background-color: #e5e5e5;
  border: 1px solid #c3c3c3;
  position: relative;
}

.tab a {
  color: #cc092f;
  display: inline-block;
  font-size: 1.25em;
  font-weight: bold;
  padding: 15px;
  text-decoration: none;
  width: 100%;
}

.tab.tab-open {
  background-color: #fff;
}

.pages {
  margin-left: 30%;
  width: 70%;
}

.page {
  display: none;
  padding: 10px;
}

.page.page-open {
  display: block;
}

.page h1:first-of-type {
  margin-top: 0;
}

input[type="text"],
input[type="number"],
textarea {
  font-size: 1em;
}

label {
  display: block;
}

.input-group {
  display: block;
  margin: .25em auto;
}

.input-group label {
  display: inline-block;
  width: 6em;
}

.input-group input[type="text"],
.input-group textarea {
  border: 1px solid #c4c4c4;
  margin-left: 1em;
  padding: auto .25em;
  width: 75%;
}

.input-group input[type="number"] {
  width: 15%;
}

.input-group textarea {
  vertical-align: middle;
}

.template {
  display: inline-block;
  font-family: monospace;
  font-size: 12px;
  width: 65%;
}

.template-example {
  display: inline-block;
  vertical-align: top;
  width: 34%;
}

.template-example h3 {
  border-bottom: 1px dotted #666;
  color: #666;
  margin: 0;
  margin-bottom: .5em;
  padding: 0;
}

input.saved, textarea.saved {
  border: 1px solid #55c500;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
}

th {
  border-bottom: 1px solid #ccc;
}

tbody tr:hover {
  background-color: #eee;
}

tr td:first-of-type {
  border-right: 1px solid #ccc;
}

tr, td {
  padding: 2px 10px; 
}
