.label-container {
  margin: auto;
}

.label {
  background-color: #fff;
  border: 1px dashed black;
  box-shadow: 0 0 1px 1px #bbb;
  height: 1.5in;
  margin: 1em auto;
  overflow-y: hidden;
  position: relative;
}

.label .label-spine,
.label .label-pocket {
  display: inline-block;
  height: 100%;
  overflow-y: hidden;
  padding: 1em;
  position: absolute;
  top: 0;
  vertical-align: top;
}

.label > div:focus {
  outline: none;
}

.label-spine {
  background-color: #bee;
  left: 0;
}

.label-pocket {
  background-color: #eeb;
  right: 0;
}

.label-controls {
  background-color: #fff;
  height: 20em;
  position: absolute;
  right: 1em;
  top: 1em;
  width: 40em;
}

.close-btn {
  display: none;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 1px 0 #666;
  border-radius: 5px;
  color: red;
  font-size: 0.7em;
  position: absolute;
  text-transform: lowercase;
  top: 0;
  z-index: 9999;
}

.label:hover .close-btn {
  display: inline-block;
}