.label-container {
  background-color: #fff;
  border: 1px dashed black;
  box-shadow: 0 0 1px 1px #bbb;
  height: 1.5in;
  margin: 1em;
  overflow-y: hidden;
  position: relative;
  width: 4in;
}

.label-container > div {
  display: inline-block;
  height: 100%;
  overflow-y: hidden;
  padding: 1em;
  position: absolute;
  top: 0;
  vertical-align: top;
}

.label-container > div:focus {
  outline: none;
}

.label-spine {
  background-color: #bee;
  left: 0;
}

.label-pocket {
  background-color: #eeb;
  right: 0;
}

.label-controls {
  background-color: #fff;
  height: 20em;
  position: absolute;
  right: 1em;
  top: 1em;
  width: 40em;
}
