*, *:before, *:after {
  box-sizing: border-box;
}

html { height: 100% }

body {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 0;
}

button, input[type="checkbox"] {
  cursor: pointer;
}

.input-container, .label-container {
  display: inline-block;
  vertical-align: top;
}

.input-container {
  background-color: #e5e5e5;
  min-height: 100%;
  padding-bottom: 20em;
  width: 40%;
}

.label-container {
  float: right;
  width: 59%;
}

.input-container--header {
  background-color: #cc092f;
  color: #fff;
  cursor: pointer;
  font-size: 1.5em;
  padding: .5em;
  text-align: center;
  width: 100%;
}

.input-container--body {
  padding-bottom: 20px;
  padding-top: 20px;
}

.input-table {
  border-collapse: collapse;
  font-size: 1.125em;
  margin: auto;
  width: 80%;
}

.input-table td {
  padding: .25em;
  position: relative;
  text-align: center;
}

.input-table thead th {
  border-bottom: 1px solid #c3c3c3;
}

.input-table tfoot td {
  border-top: 1px solid #c3c3c3;
}

.input-barcode,
.input-add-row {
  font-size: 1em;
}

.input-add-row {
  background-color: #fff;
  border: 1px solid #c3c3c3;
}

.barcode-ok::before,
.barcode-not-ok::before {
  left: -1em;
  position: absolute;
  top: .35em;
}

.barcode-ok::before {
  color: #00cc00;
  content: '\2713';
}

.barcode-not-ok::before {
  color: #cc0000;
  content: '\2717';
}

/*
@media print {
  body {
    height: 1.5in;
    width: 4in;
  }

  *:not(.label-container *) {
    display: none;
  }

  .label-container {
    border: none;
    box-shadow: none;
    page-break-after: always;
  }
}
*/